# Copy to .env and fill in. Generate APP_KEY with: node ace generate:key
TZ=
PORT=
HOST=
LOG_LEVEL=
APP_KEY=
NODE_ENV=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
